@using Wooja_Inventory_Manager.Models
@model IEnumerable<Item>

@{
    ViewData["Title"] = "ItemsView";
}

<h1>ItemsView</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FolderNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConstructionYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NetAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sold)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoldDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reserved)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LendOutAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LendOut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LendOutDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocalSale)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastSeenOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentInv)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FolderNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SN)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ConstructionYear)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NetAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sold)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoldDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Reserved)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LendOutAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LendOut)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LendOutDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LocalSale)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastSeenOn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CurrentInv)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new {id=item.Id}) |
                    @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.Id  })
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="m-2">
    <h6 class="bg-primary text-white m-2 p-2">
        Uncached timestamp: @DateTime.Now.ToLongTimeString()
    </h6>
    <cache expires-after="@TimeSpan.FromSeconds(15)">
        <h6 class="bg-primary text-white m-2 p-2">
            
                Cached timestamp: @DateTime.Now.ToLongTimeString()
        </h6>
    </cache>
  

</div>